venv/*
.idea
.vscode
.eggs/*
seismic_zfp/__pycache__/*
seismic_zfp/*.pyc
examples/__pycache__/*
tests/__pycache__/*
build/*
dist/*
seismic_zfp.egg-info/*
gui/build/*
gui/dist/*
gui/*.spec
gui/__pycache__/*
