language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.8

os:
  - linux

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest

install:
  - pip install ".[test]"

script: pytest
