name: Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run:  |
          pip install -r requirements.txt
          pip install pytest mock coverage pytest-cov
          pip install ".[vds,zgy,xr]"
      - name: Run tests and collect coverage
        run: |
          mkdir test_temp
          pytest --basetemp=test_temp
          pytest --cov=seismic_zfp
          coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2